* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    display: grid;
    height: 100%;
    place-items: center;
    overflow: hidden;
}


video {
    width: 100vw;
    height: 100vh;

    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: .7;
}


.login-page {
    width: 400px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 80px 0;
    box-shadow: 15px 20px 50px 15px lightseagreen;

}

.login h1 {
    line-height: 80px;
    background-color: lightseagreen;
    text-align: center;
    border-radius: 100px 0 100px 0;

}

.login form {
    padding: 30px 20px 25px 20px;
}

.login form .row {
    padding: 2px;
    margin-bottom: 15px;
    position: relative;
}

.login form .row input {
    font-size: 15px;
    height: 32px;
    width: 100%;
    outline: none;
    border-radius: 10px 0 10px 0;
    padding-left: 30px;
    border: 1px solid grey;
}

.login form .row input:focus {
    border-color: rgb(33, 83, 81);
    box-shadow: inset 0px 0px 3px 3px rgba(29, 124, 105, 0.25);
}

.login form .row i {
    position: absolute;
    background-color: lightseagreen;
    border-radius: 30px 30px 30px 0;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 2px;
    height: 26px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login form .btn input {
    background-color: rgb(55, 194, 187);
    font-weight: 600;
    width: 40%;
    margin: 15px;
    margin-top: 0px;
    padding-left: 0;
    transition: all 0.3s ease;
}

.login form .btn input:hover {
    background-color: #40ad97;
}

.login form .pass {
    margin: 10px;
}

.login form .pass a,
.login form .signup-link a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.login form .pass a:hover,
.login form .signup-link a:hover {
    text-decoration: underline;
    color: blue;
}

.login form .signup-link {
    text-align: center;
}

.login form .signup-link a {
    font-weight: bold;
}